@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: Poppins !important;
}

@media (max-width: 1024px) {
  .navBorder {
    border: none !important;
    padding: 0 !important;
    padding: 10px 0px !important;
  }
}